html,body{
	height: 100%
}
#cover{
	background-size: cover
	color: white;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
}

#cover-caption{
	width: 100%
}










